<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<img src="../../../assets/WhatsApp Image 2023-01-05 at 00.18.21.jpeg" class="img-fluid" id="fotodeperfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
    <p>Tomas Tondello</p>
    <p>Full Stack Developer Jr</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mi</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, necessitatibus iure. Soluta unde, nihil molestiae, ex quaerat fuga repudiandae nesciunt vero non corporis vel similique ducimus veritatis eaque excepturi suscipit.</p>
    </span>
</div>
</div>