.row{
    padding: 20px;
}
div{
    background-color: #a1b5cb;
    text-align: center;
}
/*Estilo de la foto de perfil*/
@media (min-width:576px){
    #fotodeperfil{
    position: absolute;
    width: 12%;
    border-radius: 20%;
    box-shadow: 5px 5px 5px grey;
    left: 44%;
top: 1030px
}
}
@media (max-width:575px){
    #fotodeperfil{
    position: absolute;
    width: 20%;
    border-radius: 20%;
    box-shadow: 5px 5px 5px grey;
    left: 40%;
top: 1140px
}

}

/*etiqueta nombre*/
#nombre{
font-weight: bold;
}