<div class="row">
<h1> Experiencia laboral</h1>
<div class="col-ng-1"><div class="col-ng-11"></div>
<ul>
    <li>
        <h1>Trabajo 1</h1><h3>(years)</h3>
    </li>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores dolorem quae alias, quibusdam ea iste esse aliquam nihil, explicabo corrupti perspiciatis voluptas labore eligendi facere. Accusantium adipisci officiis quod ipsa.
    </p>
</ul>
<ul>
    <li>
        <h1>Trabajo 2</h1><h3>(years)</h3>
    </li>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores dolorem quae alias, quibusdam ea iste esse aliquam nihil, explicabo corrupti perspiciatis voluptas labore eligendi facere. Accusantium adipisci officiis quod ipsa.
    </p>
</ul>
<ul>
    <li>
        <h1>Trabajo 3</h1><h3>(years)</h3>
    </li>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores dolorem quae alias, quibusdam ea iste esse aliquam nihil, explicabo corrupti perspiciatis voluptas labore eligendi facere. Accusantium adipisci officiis quod ipsa.
    </p>
</ul>
</div>
</div>