.row{
    padding: 120px;
}
div{
    background-color: #e4dddd;
    text-align: left;
}
/*Estilo de la foto de perfil*/
@media (min-width:576px){
    #fotodeperfil{
    position: absolute;
    width: 17%;
    border-radius: 2%;
    box-shadow: 5px 5px 5px grey;
    left: 5%;
top: 650px
}
}
@media (max-width:575px){
    #fotodeperfil{
    position: absolute;
    width: 19%;
    border-radius: 50%;
    box-shadow: 5px 5px 5px grey;
    left: 38%;
top: 890px
}

}

/*etiqueta nombre*/
#nombre{
font-weight: bold;
}